.vscode/**
.vscode-test/**
src/**
tests/**
**/*.ts
**/*.map
.gitignore
README.md
backups/**
*.vsix
node_modules/@types/**
node_modules/.bin/**
**/*.d.ts
!node_modules/@xenova/transformers/**
!node_modules/axios/**
!node_modules/flexsearch/**
!node_modules/sql.js/**
!node_modules/marked/**
!node_modules/highlight.js/**
!node_modules/keytar/**
